{% extends "layout.html.twig" %}
{% set active = "about" %}
{% block extra %}
    <style>
        p{
            text-align: justify;
        }
    </style>
{% endblock %}
{% block panel %}
<div class="featurette">
	<img class="featurette-image pull-right" src="/public/render/tranquilidad.jpg" style="margin-top: -100px;">
	<h2 class="featurette-heading">{% trans %}history{% endtrans %}<span class="muted">, {% trans %}square{% endtrans %}.</span></h2>
	<p class="lead">
		{% trans %}about_first_paragraph{% endtrans %}
	</p>
	<p class="lead">
		{% trans %}about_second_paragraph{% endtrans %}
	</p>
</div>
<hr class="featurette-divider">
<div class="featurette">
	<img class="featurette-image pull-left" src="/public/render/tapas.jpg">
	<h2 class="featurette-heading">Kasparo<span class="muted">, {% trans %}bar{% endtrans %}.</span></h2>
	<p class="lead">
		{% trans %}about_third_paragraph{% endtrans %}
	</p>
</div>
<hr class="featurette-divider">
<div class="featurette">
	<img class="featurette-image pull-right" src="/public/render/bar.jpg">
	<h2 class="featurette-heading">Kasparo<span class="muted">, {% trans %}caps{% endtrans %}.</span></h2>
	<p class="lead">
		{% trans %}about_fourth_paragraph{% endtrans %}
	</p>
	<p class="lead">
		{% trans %}about_fifth_paragraph{% endtrans %}
	</p>
</div>
{% endblock %}
{% block extraJavascript %}
<script type="text/javascript">
	!function($) {
        $(function(){
          $("img.featurette-image").each(function(){
              $(this).css("width","300px")
          });
          // carousel demo
          
        })
      }(window.jQuery)
</script>
{% endblock %}