{% extends 'layout.html.twig' %}
{% set active = "gallery" %}
{% block extraJavascript %}
    <script src="/public/js/jquery.blueberry.js"></script>
    <script>
        $(window).load(function () {
            $('.blueberry').blueberry();
        });
    </script>
{% endblock %}
{% block extra %}
    <link rel="stylesheet" href="/public/css/blueberry.css">
    <style>
        ul.slides{
            margin: 0px;
        }
        ul.pager li a{
            border: none;
        }
    </style>
{% endblock %}

{% block panel %}
<div class="row selector">
<div class="span5" style="text-align:center">
    <a href="{{ path('gallery') }}">Platos Destacados</a>
</div>
<div class="span5" style="text-align:center">
    <a href="{{ path('galleryoutdoor') }}"  class="active">Exterior</a>
</div>
</div>
<hr>
    <div class="blueberry">
        <ul class="slides">
            {% for entity in entities %}
                <li>
                    <img src="{{ entity.path }}" />
                    <div>
                        <h3>{{ entity.name }}</h3>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

<div style="clear:both"></div>
{% endblock %}
