{% extends 'layout.html.twig' %}
{% set active = "home" %}
{% block extraJavascript %}
    <script src="/public/js/jquery.blueberry.js"></script>
    <script>
        $(window).load(function () {
            $('.blueberry').blueberry();
        });
    </script>
{% endblock %}
{% block extra %}
    <link rel="stylesheet" href="/public/css/blueberry.css">
    <style>
        ul.pager li a{
            border: none;
        }
    </style>
{% endblock %}
{% block panel %}
    <div class="blueberry">
        <ul class="slides">
            {% for entity in entities %}
                <li><img src="{{ entity.path }}" /></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}