{% extends 'layout.html.twig' %}
{% set active = "home" %}
{% block extra %}
	    <link href="/public/css/slider.css" rel="stylesheet">

{% endblock %}
{% block panel %}
<div class="row">
	<h2 class="featurette-heading">En construcción...</h2>
	<div class="span5">
	<p>Actualmente estamos trabajando para actualizar la página.<br> Disculpe las molestias.</p>
	</div>
</div>
{% endblock %}