
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kasparo.es</title>
    <meta name="description" content="">
    <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Le styles -->

    <link href="/public/css/landing.css" rel="stylesheet">

 <script src="public/js/jquery.js"></script>
    <script src="public/js/fullBg.js"></script>
    <script src="public/bootstrap/bootstrap.js"></script>
    <script>
      !function ($) {
        $(function(){
          $("img.featurette-image").each(function(){
              $(this).css("width","400px")
          });
          // carousel demo
          
        })
      }(window.jQuery)
    </script>    
    <script type="text/javascript">
      $(window).load(function() {
        $("#background-image").fullscreenBackground();
      });
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

<div id="maincontent">

 <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar">
          <div class="navbar-inner">
            
            <a class="brand brand-caption" href="#">
                <h3>Kasparo</h3>
                <p class="lead">BAR · RESTAURANT · TERRASSA</p>
            </a>
            <br>
            <div class="span1 flag">
              <div class="img-wrapper">
              <img src="public/render/flag_cat.png"  height = "45px">
              </div>
              <a href="{{ path('about',{'_locale':'cat'}) }}">Català</a>
            </div>
            <div class="span1 flag">
              <div class="img-wrapper">
              <img src="public/render/flag_es.png" height = "45px">
            </div>
              <a href="{{ path('about',{'_locale':'es'}) }}">Castellano</a>
            </div>

            <div class="span1 flag">
              <div class="img-wrapper">
              <img src="public/render/flag_en.png" height = "45px">
            </div>
              <a href="{{ path('about',{'_locale':'en'}) }}">English</a>
            </div>
            </div>
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

</div>
<div id="background-image">
    <img src="/public/render/landing.jpg" alt="" width="1440" height="768" />
</div>

  </body>
</html>
