<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kasparo.es</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/public/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/public/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/public/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/public/ico/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    {% block extra %}
    {% endblock %}
</head>
<body>
<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand brand-caption" href="{{ path('landing') }}">
                    <h3>Kasparo</h3>

                    <p class="lead">BAR · RESTAURANT · TERRASSA</p>
                </a>
                <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% include 'menu.html.twig' %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.navbar-inner -->
        </div>
        <!-- /.navbar -->

    </div>
    <!-- /.container -->
</div>
<!-- /.navbar-wrapper -->

<div class="container marketing">
    <div class="row">
        <div class="span10 offset1">
            {% block panel %}{% endblock %}
        </div>
    </div>
    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer style="margin-top: 30px;">
        <p class="pull-right"><a href="#">Volver arriba</a></p>

        <p>&copy; 2013 Kasparo S.L.</p>
    </footer>

</div>
<!-- /.container -->
{% block modal %}
{% endblock %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/public/js/jquery.js"></script>
<script src="/public/bootstrap/bootstrap.min.js"></script>
{% block extraJavascript %}{% endblock %}
</body>
</html>
